#
# ASO Monitor config file.
#
# a '#' starts a comment field, blank lines are ignored.
# Valid lines follow KEY = VALUE syntax
#

inbox  = /data/wildish/dropbox/monitor/in
inbox_poll_interval = 10 # seconds...

workdir = /data/wildish/dropbox/monitor/work
outbox  = /data/wildish/dropbox/reporter
logfile = /data/wildish/monitor/aso-monitor.log

service = https://fts.server.name:port/path # URL for FTS service
job_poll_interval_slow = 10
job_poll_interval_fast = 0.1
job_parallelism        = 8

fake_transfer_script = /afs/cern.ch/user/w/wildish/public/COMP/PHEDEX_GIT/Testbed/FakeFTS.pl
fake_transfer_rate = 104857600 # 1048576 is 1 MB/sec
#fake_transfer_map = /path/to/map/file

verbose = 1
debug   = 0

# Use this for interactive debugging
# nodaemon = 1
